auto
node_modules
dist
.DS_Store
*.aux
*.bak
*.bbl
*.blg
*.dvi
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.log
*.out
*.thm
*.toc
*.toe
*.lof
*.lot
*.loe
*.vrb
*.hd
*.fdb_latexmk
*.fls
*.maf
.mtc
*.out
*.bak
*.ps
*.run.xml
*blx.bib
*.synctex.gz
*.tmppart
*.abs
*.sav
*.bcf
/build
